[submodule "scripts/helper"]
	path = scripts/helper
	url = https://github.com/xpack-dev-tools/build-helper.git
[submodule "scripts/llvm-mingw"]
	path = scripts/llvm-mingw
	url = https://github.com/mstorsjo/llvm-mingw
